.checkbox-wrap {
  position: relative;

  .checkbox-wrap__checkbox {
    opacity: 0;
    position: absolute;

    &:checked {
      + label {
        &:before {
          @include svg($svg-check);
          border-color: $light-sea-green;
        }
      }
    }

    + label {
      cursor: pointer;

      &:before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        border-radius: 0.2rem;
        margin-right: 1rem;
        vertical-align: text-top;
        border: 0.1rem solid $lynch;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
