.select--css {
  font-size: 1.4rem;
  padding: 0.8rem 2rem 0.8rem 0.8em;
  box-sizing: border-box;
  border: 1px solid $lynch;
  border-radius: 0.4rem;
  appearance: none;
  background-color: white;
  @include svg($svg-options);
  background-position: right 1rem top 50%;
  background-size: 0.65em auto;
  outline: 0;
  color: $mako;
}
