@import './reset';
@import './vars';
@import './typography';
@import './select';
@import './checkbox';

html {
  body {
    display: flex;
    justify-content: center;

    #root {
      margin: 0 0 5rem;
      width: 335px;

      @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1) {
        width: 728px;
      }

      @media (min-width: $desktop-breakpoint) {
        width: 1128px;
      }

      header {
        display: flex;
        justify-content: space-between;

        .logo {
          display: block;
          width: 90px;
          height: 24px;
          margin: 2.5rem 0;
          @include svg($svg-logo);

          .logo__copy {
            position: absolute;
            top: -999em;
            left: -999em;
          }
        }

        nav {
          margin: 3.2rem 0;

          a {
            text-decoration: none;
            margin: 0 30px 0 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      #breadcrumbs {
        margin: 2rem 0 1.5rem;

        button {
          color: #1a2225;
          background: none;
          border: 0;
          outline: 0;
          padding: 0;

          span {
            padding: 0 0 0.2rem;
            border-bottom: 0.1rem solid #c5cfd4;
            font-size: 1.4rem;
          }

          &:before {
            content: '';
            display: inline-block;
            @include svg($svg-left);
            width: 1.8rem;
            height: 1rem;
            margin: 0 1rem 0 0;
          }
        }
      }

      h1 {
        margin: 0 0 3rem;
      }

      .main-wrap {
        display: flex;
        flex-direction: column;

        @media (min-width: $tablet-breakpoint) {
          flex-direction: row;
        }

        .content-wrap {
          @media (min-width: $tablet-breakpoint) {
            width: 60%;
            padding: 0 4.5rem 0 0;
          }

          .inner-content-wrap {
            display: flex;
            flex-direction: column;
            margin: 0 0 4rem;

            h2 {
              margin: 0 0 1rem;
              line-height: 3rem;
            }

            select {
              margin: 0 0 1rem;
            }

            .checkbox-wrap {
              margin: 0 0 2rem;

              &:first-of-type {
                margin-top: 1rem;
              }

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }

        aside {
          @media (min-width: $tablet-breakpoint) {
            width: 40%;
            padding: 0 0 0 4.5rem;
          }

          .aside__inner {
            h2 {
              margin: 0 0 3rem;
            }

            h3 {
              margin: 2rem 0 1.5rem;
            }

            .selected-add-ons {
              padding: 0;
              list-style: none;

              li {
                margin: 0 0 1rem;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
