@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,600&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Catamaran', sans-serif;

  body {
    font-size: 1.4rem;
    color: $mako;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 400;
    }

    h2 {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }

    h3 {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    h2,
    h3 {
      font-weight: 600;
    }

    h1,
    h2,
    h3 {
      color: $black-pearl;
    }

    select {
      font-weight: 200;
    }

    nav {
      a {
        color: $mako;
        font-size: 1.4rem;
      }
    }

    .span--help {
      color: $lynch;
    }
  }
}
