$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;

$svg-path: '../svgs/';
$svg-ext: '.svg';
$svg-logo: 'logo';
$svg-options: 'options';
$svg-check: 'check';
$svg-left: 'left';

@mixin svg($svg-name) {
  background-image: url('#{$svg-path}#{$svg-name}#{$svg-ext}');
  background-repeat: no-repeat;
}

$light-sea-green: #1de0c0;
$black-pearl: #1a2225;
$mako: #3a4347;
$lynch: #637480;
